    /**{*/
    /*   font-family: sans-serif;*/
    /*    box-sizing: border-box;*/

    /*}*/

    /* Charlotte Bookstore*/
    .title{
        font-family: 'Pacifico', cursive;
        font-size: 60px;
        text-shadow: 6px 6px 6px #aaa;
        font-weight: 600;

    }

    li a{
        font-size: medium;
    }
    nav + p{
        font-size: xxx-large;
    }


    .navbar{
        margin-bottom:0px;
    }

    .bg-img {
        /* The image used */
        background-image: url("../images/book.jpg");

        min-height: 200px;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    /*SignUp*/
    .bg-img2 {
        /* The image used */
        background-image: url("../images/books.jpg");

        min-height: 380px;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    /* Add styles to the form container signUp/login*/
    .container2 {
        position: absolute;
        right: 0;
        margin: 20px;
        max-width: 500px;
            /*min-height: 500px;*/
        padding: 16px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 5px 10px #888888;
        box-sizing: border-box;
        border: 3px solid burlywood;
    }

    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 15px;
    }

    /* Full-width input fields */
    input[type=text], input[type=password], input[type=email], input[type=number], select, textarea {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }

    input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, select:focus, textarea:focus {
        background-color: #ddd;
        outline: none;
    }

    /* Set a style for the register/ligin button */
    .btn {
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        margin: 5px;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    .btn:hover {
        opacity: 1;
    }

    /**/

    .aboutus-section {
        padding: 90px 0;
    }
    .aboutus-title {
        font-size: 30px;
        letter-spacing: 0;
        line-height: 32px;
        margin: 0 0 39px;
        padding: 0 0 11px;
        position: relative;
        text-transform: uppercase;
        color: #000;
    }
    .aboutus-title::after {
        background: #fdb801 none repeat scroll 0 0;
        bottom: 0;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        width: 54px;
    }
    .aboutus-text {
        color: #606060;
        font-size: 13px;
        line-height: 22px;
        margin: 0 0 35px;
    }
/*.footer{*/
/*    !*position: fixed;*!*/
/*    position: relative;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    height: 50px;*/
/*    width: 100%;*/
/*    color: white;*/
/*    background-color: #21211a;*/
/*    text-align: center;*/
/*    padding-top: 2rem;*/
/*    padding-bottom: 2rem;*/

/*}*/